.total {
    border-radius: 4px;
    border: 1px solid var(--grey-2, #E9ECEF);
    background: #FFF;
    padding: 20px 19px 18px 23px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}