input, 
select {
    display: flex;
    width: 100%;
    padding: 11px 16px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 2px solid #F8F9FA;
    background: #F8F9FA;

    &:focus {
       
        border: 2px solid #212529;
        background: #FFF;
    }

    &option {
       padding: 30px; 
    }
}