*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    ul, ol {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    img {
        max-width: 100%;
    }

    input {
        background: transparent;
    }

    .main-container{
        width: 100vw;
    }

    body{
        min-width: 365px;
    }
}