.listGroup {
    margin-top: 2.4375rem;
    max-width: 38.75rem;
    width: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;
    margin-top: 2.3125rem;
    margin-bottom: 2.125rem;

}